@page
@model TrainTicketApp.Pages.IndexModel
@{
    ViewData["Title"] = "Menetrend keresés";
}

<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TrainTicketApp</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>Vonatmenetrend keresése</h1>

        <form method="get">
            <input type="text" name="departure" placeholder="Indulási hely" />
            <input type="text" name="arrival" placeholder="Érkezési hely" />
            <input type="time" name="departureTime" placeholder="Indulási időpont" />
            <input type="submit" class="btn btn-secondary" value="Keresés" />
        </form>

        @if (!string.IsNullOrEmpty(Request.Query["departure"]) ||
            !string.IsNullOrEmpty(Request.Query["arrival"]) ||
            !string.IsNullOrEmpty(Request.Query["departureTime"]))
        {
            if (Model.Trains != null && Model.Trains.Any())
            {
                <br />
                <h2>Eredmények:</h2>
                <br />
                <ul>
                    @foreach (var train in Model.Trains)
                    {
                        var hasService = train.Monday != TimeSpan.Zero ||
                                         train.Tuesday != TimeSpan.Zero ||
                                         train.Wednesday != TimeSpan.Zero ||
                                         train.Thursday != TimeSpan.Zero ||
                                         train.Friday != TimeSpan.Zero ||
                                         train.Saturday != TimeSpan.Zero ||
                                         train.Sunday != TimeSpan.Zero;

                        if (hasService)
                        {
                            <li>@train.DepartureLocation - @train.ArrivalLocation</li>
                        }
                    }
                </ul>
            }
            else
            {
                <p>Nincs találat.</p>
            }
        }
    </div>
</body>
</html>