@page
@model ExportModel
@{
    ViewData["Title"] = "Menetrend Exportálása";
}

<h1>Menetrend XML formátumban</h1>

<form method="post">
    <br>
    <input type="submit" class="btn btn-primary" value="Exportálás" />
    <br>
    <br>
</form>

@if (Model.XmlData != null)
{
    <h2>Exportált XML:</h2>
    <pre>@Model.XmlData</pre>
}