@page "{id:int}"
@model TrainTicketApp.Pages.Orders.OrderConfirmationModel
@{
    ViewData["Title"] = "Rendelés visszaigazolás";
}

<h1>Rendelés visszaigazolás</h1>

@if (Model.Order != null)
{
    <p>Sikeres rendelés leadás!</p>
    <p>Rendelés azonosító: @Model.Order.Id</p>
}
else
{
    <p>Nem található rendelés a megadott azonosítóval.</p>
}